* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Italianno', cursive;
}

nav {
	background: rgb(75, 222, 75)6;
	height: 80px;
	width: 100%;
}

label.logox {
	color: white;
	font-size: 40px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.activex,
.up:hover {
	background: rgb(75, 222, 75);
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 952px) {
	.checkbtn {
		display: block;
	}

	label.logox {
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}

	ul {
		position: fixed;
		width: 100%;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		color:rgb(75, 222, 75) ;
		font-size: bold;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
		font-size: bold;
	}

	a:hover,
	a.activex {
		background: none;
		color: rgb(75, 222, 75)6;
	}

	#check:checked~ul {
		left: 0;
	}
}

#sect {
	background: url("https://cdn.glitch.global/ce1bbffa-743a-4896-a7f7-2c736ff3a148/fon.jpg?v=1656086727976") no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;

}

#contactUs {
	margin: 0;
	padding: 0;
	background-color: antiquewhite;
	padding-bottom: 100px;
}

#contact {
	width: 100%;
	height: 100%;
}

.section-header {
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;
	font: 300 60px 'Oswald', sans-serif;
	color: #282828;

}

.contact-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 20px;
	position: relative;
	flex-wrap: wrap;
}

/* Left contact page */
.form-horizontal {
	/*float: left;*/
	max-width: 400px;
}

/* Begin Right Contact Page */
.direct-contact-container {
	max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
	list-style-type: none;
	margin-left: -30px;
	padding-right: 20px;
}

.list-item {
	line-height: 4;
	color: #aaa;
}

.contact-text {
	font: 300 18px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #bbb;
}

.place {
	margin-left: 20px;
}

.phone {
	margin-left: 20px;
}

.gmail {
	margin-left: 20px;
}

.contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
	font-size: 25px;
}

.contact-text a:hover {
	color: #fff;
	text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.social-media-list li a {
	color: #fff;
}

.social-media-list li {
	position: relative;
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 10px 3px;
	line-height: 60px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(27, 27, 27);
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.social-media-list li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 1px #fff;
	transition: all .2s ease-in-out;
}

.social-media-list li:hover {
	background-color: #fff;
}

.social-media-list li:hover:after {
	opacity: 1;
	transform: scale(1.12);
	transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
	color: #000;
}

hr {
	border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
	.contact-wrapper {
		display: flex;
		flex-direction: column;
	}

	.direct-contact-container,
	.form-horizontal {
		margin: 0 auto;
	}

	.direct-contact-container {
		margin-top: 60px;
		max-width: 300px;
	}

	.social-media-list li {
		height: 60px;
		width: 60px;
		line-height: 60px;
	}

	.social-media-list li:after {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 569px) {

	.direct-contact-container,
	.form-wrapper {
		float: none;
		margin: 0 auto;
	}

	.form-control,
	textarea {

		margin: 0 auto;
	}


	.name,
	.email,
	textarea {
		width: 280px;
	}

	.direct-contact-container {
		margin-top: 60px;
		max-width: 280px;
	}

	.social-media-list {
		left: 0;
	}

	.social-media-list li {
		height: 55px;
		width: 55px;
		line-height: 55px;
		font-size: 2rem;
	}

	.social-media-list li:after {
		width: 55px;
		height: 55px;
		line-height: 55px;
	}

}

@media screen and (max-width: 410px) {
	.send-button {
		width: 99%;
	}
}


body {
	background-color: #000000;
}

.moto-content-image {
	display: flex;
	justify-content: center;
	align-self: center;
}

.par1 {
	flex-wrap: wrap;
}

.par2 {
	display: flex;
	flex-direction: row;

}

.par4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: antiquewhite;
	color: #282828;
	font-size: x-large;
	padding: 20px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin: 20px;
	padding: 20px;
	
}
.publick {
	color: #282828;
}

h1,
h4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	font-family: 'Italianno', cursive;
	font-weight: bolder;
	font-size: 40px;
	color: rgb(75, 222, 75);
}
h2 {
	font-family: 'Italianno', cursive;
	font-weight: bolder;
	font-size: 27px;
	color: #282828;
}
.image {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100%;
}

.par3 {
	display: flex;
	flex-direction: column;
}

.form {
	margin: 50px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border: #282828 solid 2px;
}

.head {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
	font-family: 'Italianno', cursive;
}



.text {
	margin-top: 200px;
	display: flex;
  justify-content: center;
	flex-direction: column;
	font-family: 'Italianno', cursive;
	font-weight: bolder;
	font-size: 60px;
  }

.word {
	font-family: 'Italianno', cursive;
	font-weight: bolder;
	font-size: 30px;
	color: #282828;
}

.button {
	display: flex;
	justify-content: center;
	align-self: center;
}

.btn {
	background: rgb(75, 222, 75);
	border-radius: 40px;
	margin: 15px;
	padding: 10px;
	font-family: 'Glory', sans-serif;
	font-size: 15px;
	color: aliceblue;
	border: none;
	text-decoration: none;
}
.lup {
background: none;
border: none;
color: rgb(75, 222, 75);
}
.part {
	display: flex;
}
.one1 {
	display: flex;
	display: none;
	flex-wrap: wrap;
}
.box {
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
	background: antiquewhite;
	color: #282828;
}

.names {
	display: flex;
	justify-content: center;
	font-size: 60px;
	align-items: center;
	color: azure;

}

.one {
	background-image: url("appetizer.jpg");
    width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.two {
	background-image: url("main dishes.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.three {
	background-image: url("drinks.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.four {
	background-image: url("soup.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.five {
	background-image: url("seafood.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.six {
	background-image: url("cake.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	height: calc(100vh - 80px);
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@media (max-width: 767px) {

	.par2,
	.par3,
	.part
	.par4 {
		flex-wrap: wrap;
	}

	.text {
		font-weight: bold;
		font-size: 30px;
	}
}


.to-top {
	color: #282828;
	;
	padding-top: 1.8em;
	display: inline-block;
	/* or block */
	position: relative;
	border-color: #282828;
	text-decoration: none;
	transition: all .3s ease-out;

}

.to-top:before {
	content: '▲';
	font-size: .9em;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -.7em;
	border: solid .13em white;
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform .5s ease-in;
}

.to-top:hover {
	color: rgb(75, 222, 75);
	border-color: rgb(75, 222, 75);
}

.to-top:hover:before {
	transform: rotate(360deg);
}

